@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&display=swap');

:root {
  --bg-main: #1C1917;
  --bg-surface: #292524;
  --text-primary: #f5f5f4;
  --text-secondary: #a8a29e;

  --accent-purple: #c4b5fd;
  /* Color principal (para botones primarios y logos) */
  --accent-green: #86efac;
  /* Para botones de guardar o notificaciones de éxito */
  --accent-red: #fca5a5;
  /* Para botones de eliminar o notificaciones de error */
  --accent-blue: #93c5fd;
  /* Para botones de editar o notificaciones informativas */
  --accent-yellow: #fde047;
  /* Para destacar datos importantes (ej. cantidad de stock) */

  --border-color: #44403c;
  /* Color de las líneas divisorias que separan elementos */
  --transition-speed: 0.25s;
  /* Velocidad estándar para todas las animaciones (hover, focus) */
}

body {
  background-color: var(--bg-main);
  color: var(--text-primary);
  font-family: 'Outfit', sans-serif;
  /* Suaviza el renderizado de las fuentes en navegadores WebKit */
  -webkit-font-smoothing: antialiased;
}

.navbar {
  background-color: var(--bg-surface);
  border-bottom: 1px solid var(--border-color);
}

.navbar-brand {
  font-weight: 500;
  color: var(--text-primary);
  letter-spacing: 0.5px;
}

.navbar-brand i {
  color: var(--accent-purple);
}

.content-grid {}

.panel {
  background-color: var(--bg-surface);
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  padding: 2.5rem;
}


.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--border-color);
}

.panel-title {
  font-size: 1.75rem;
  font-weight: 500;
  color: var(--text-primary);
  margin: 0;
}


/* ESTILOS PARA BOTONES */

.btn-pastel-purple {
  background-color: var(--accent-purple);
  color: var(--bg-main);
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  transition: background-color var(--transition-speed), color var(--transition-speed);
}

.btn-pastel-purple:hover {
  background-color: var(--accent-purple-hover);
  color: var(--bg-main-hover);
}